/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  position: relative;
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

#edit-story-button{
  position: absolute;
  right: 0px;
  top: 0;
  background-color: rgba(255, 94, 0, 0.267);
  display: inline-block;
  border-radius: 5px;
  /* margin-right: 0; */

}